#game_name
{
    width:300px;
    height:20px;
    left:500px;
    top:55px;
    font-size:30px;
    color: #008b8b;
    text-align: center;
    position:absolute;
}
#cell_one
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    left:500px;
    top:100px;
    font-size:80px;
    color: green;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_two
{
    background:#ffc0cb;
    width:100px;
    color: green;
    height: 100px;
    left:600px;
    top:100px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_three
{
    background:#ffc0cb;
    width:100px;
    color: green;
    height: 100px;
    left:700px;
    top:100px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_four
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    left:500px;
    color: green;
    top:200px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_five
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    color: green;
    left:600px;
    top:200px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_six
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    color: green;
    left:700px;
    top:200px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_seven
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    left:500px;
    color: green;
    top:300px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_eight
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    left:600px;
    color: green;
    top:300px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}
#cell_nine
{
    background:#ffc0cb;
    width:100px;
    height: 100px;
    left:700px;
    color: green;
    top:300px;
    font-size:80px;
    text-align: center;
    border: 1px solid black;
    position:absolute;
}